body {
  font-family: Arial, sans-serif;
  background-color: white;
  height: 100%;
  width: 100%;
}

button {
  border-radius: 5px;
  text-transform: uppercase;
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: white;
}

button:hover {
  &:not(.disable-hover):hover {
    transform: scale(1.01);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
  }
}

button:active {
  background-color: rgb(131, 134, 134);
}







